<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #2D2D2D; justify-content: flex-start;">
    <div class="container">
        <a class="navbar-brand" href="/" style="color: #FFFFFF; margin-left: 40px;">TECHVENDO</a> <!-- Adjust this value -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/" style="color: #FFFFFF; font-style: italic; margin-left: 10px;">Home</a> <!-- Add this property -->
                <a class="nav-link" href="/counter" style="color: #FFFFFF; font-style: italic; margin-left: 10px;">Products</a> <!-- Add this property -->
                <a class="nav-link" href="/aboutus" style="color: #FFFFFF; font-style: italic; margin-left: 10px;">About Us</a> <!-- Add this property -->
            </div>
        </div>
    </div>
</nav>

<style>
    .nav-link:hover {
        color: #FFFFFF; /* Maintain white text on hover */
        background-color: #424242; /* Add subtle hover background */
        border-radius: 10px; /* Add rounded corners */
    }
</style>
