<Nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="background-color: #2D2D2D; justify-content: flex-start;">
  <div class="container">
    <a class="navbar-brand" href="/" style="color: #FFFFFF; margin-left: 40px;">TECHVENDO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-link active" href="/" style="color: #FFFFFF; font-style: italic; margin-left: 10px;">Home</a>
        <a class="nav-link" href="/products" style="color: #FFFFFF; font-style: italic; margin-left: 10px;">Products</a>
        <a class="nav-link" href="/aboutus" style="color: #FFFFFF; font-style: italic; margin-left: 10px;">About Us</a>
      </div>
    </div>
    <a class="nav-link ml-auto" href="/login">Login</a>
  </div>
</Nav>


<style>
    .navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top {
        background-color: #2D2D2D;
        justify-content: flex-start; /* Adjust as needed */
    }

    .container {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .nav-link {
        color: #FFFFFF;
        font-style: italic;
        margin-left: 10px;
    }

        .nav-link.active {
            /* Style for active nav link */
        }

        .nav-link:hover {
            color: #FFFFFF;
            background-color: #424242;
            border-radius: 10px;
        }

    .sticky-top {
        position: sticky;
        top: 0;
        z-index: 1020; /* This ensures the navbar stays on top of other elements */
    }

    .login-btn {
        color: #FFFFFF;
        font-style: italic;
        margin-left: 10px;
        text-decoration: none;
    }

        .login-btn:hover {
            color: #FFFFFF;
            background-color: #424242;
            border-radius: 10px;
        }

</style>
