@page "/"
@inject IJSRuntime JSRuntime
@using BlazorBootstrap;

<body>
    <h1 class="speed-h1">GO BEYOND SPEED!</h1>

    <div id="parallaxElement" style="background-image: url('/images/image-fornvidia.png'); height: 1080px; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
        <h1 class="power-h1">MORE POWER LESS ENERGY!</h1>

    </div>

    <section>
        <div class="less-power">
            <h1 class="power-h1">LESS POWER CONSUMPTION!</h1>

            <div class="carousel-container" @onwheel="OnScroll">
                <button class="carousel-button prev" @onclick="PreviousImage">Previous</button>
                <button class="carousel-button next" @onclick="NextImage">Next</button>

                <div class="carousel">
                    @for (var i = 0; i < 9; i++)
                    {
                        var path = $"/images/paracausell/5th-dimension-{i}.jpg";
                        <div class="carousel-item @(currentIndex == i ? "active" : "")">
                            <img src="@path" alt="Image @i" />
                        </div>
                    }
                </div>
            </div>
            }
        </div>
    </section>

</body>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("parallaxFunctions.setParallax", "parallaxElement", 0.5);
            // await JSRuntime.InvokeVoidAsync("addScrollWheelListener", "carouselExampleControls");

            
        }
    }

    private int currentIndex = 0;
    private bool isScrollEnabled = true;


    private void NextImage()
    {
        currentIndex = (currentIndex + 1) % 9;
    }

    private void PreviousImage()
    {
        currentIndex = (currentIndex - 1 + 9) % 9;
    }

    private void OnScroll(WheelEventArgs e)
    {
        if (isScrollEnabled)
        {
            if (e.DeltaY > 0)
            {
                NextImage();
            }
            else
            {
                PreviousImage();
            }
        }
    }

    private void ToggleScroll()
    {
        isScrollEnabled = !isScrollEnabled;
    }
}





<style>
    body {
        background-color: black
    }

    .speed-h1 {
        color: white;
        text-align: center;
        margin-top: 100px;
        font-size: 100px;
        font-weight: bold;
    }


    #parallaxElement {
        opacity: 0;
    }


    .power-h1 {
        color: white;
        text-align: center;
        margin-top: 100px;
        font-size: 100px;
        font-weight: bold;
    }

</style>

<script>

    window.parallaxFunctions = {
        setParallax: function (element, speed) {
            const parallaxElement = document.getElementById(element);
            const textElement = document.querySelector('.speed-h1');
            window.addEventListener('scroll', function () {
                let offset = window.pageYOffset;
                let height = parallaxElement.offsetHeight;
                let opacity;
                if (offset <= height / 2) {
                    // Increase opacity until the middle of the image
                    opacity = Math.min(offset / (height / 2), 1);
                } else {
                    // Decrease opacity after the middle of the image
                    opacity = Math.max(1 - (offset - height / 2) / (height / 2), 0);
                }
                parallaxElement.style.backgroundPositionY = (offset * speed) + 'px';
                parallaxElement.style.opacity = opacity;
                textElement.style.fontSize = Math.max(100 - offset / 10, 20) + 'px'; // Change '10' to control the speed of size decrease
            });
        }
    }


    window.addScrollWheelListener = function (carouselId) {
        var carouselElement = document.getElementById(carouselId);
        carouselElement.addEventListener('wheel', function (e) {
            if (e.deltaY < 0) {
                carouselElement.carousel('prev');
            }
            else {
                carouselElement.carousel('next');
            }
        });
    };




</script>
