@page "/"

<div class="hero-content">
    <h1 class="title-hero @((isLoaded) ? "loaded" : "")">TECHVENDO</h1>
    <p> </p>
    <p class="under-hero">We Chop The Prices!</p>
    <p> </p>
    <p> </p>


    <NavLink class="products-btn" href="/products">
        Products
    </NavLink>
    <br />
    <NavLink class="nvidia-products-btn" href="/products/NVIDIA">
        NVIDIA
    </NavLink>

</div>

<section>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5><a href="/aboutus">About Us</a></h5>
                    <p>We are a team of dedicated young entrepreneurs who want to make buying and selling hardware for pc's easier than ever. With TechVendo this dream has become a possibility</p>
                </div>
                <div class="col-md-4">
                    <h5>Links</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>H.C Andersensvej, Viborg, Denmark</p>
                    <p>Email: Techvendo69@gmail.com</p>
                    <p>Phone: +45 93 70 61 51</p>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    private bool isLoaded = false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            isLoaded = true;
            StateHasChanged();
        }
    }

}

<style>

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #000;
    }

    .hero-content {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/1513848341442.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
        color: white;
        flex-direction: column;         
        text-align: center;
    }

    @@media (max-width: 768px) {
        .hero-content {
            height: 50vh;               
        }

            .hero-content h1 {
                font-size: 24px;                 
            }

            .hero-content p {
                font-size: 12px;                 
            }
    }

    .title-hero {
        font-size: 64px;
        font-family: Arial, sans-serif;
        padding: 10px 20px;
        font-weight: bold;
        border: 4px solid transparent;
        transition: border 1s ease-in-out;
    }

        .title-hero.loaded {
            border-color: #698FC0;             
        }

    .hero-content {
        text-align: center;
    }

    .under-hero {
        font-size: 40px;
        margin-top: 0;
        padding-top: 0;
        font-weight: bold;
    }

    .products-btn {
        background-color: rgba(0, 0, 0, 0.5);       
        border: 2px solid #fff;         
        font-family: Arial, sans-serif;         
        font-style: italic;         
        font-size: 20px;         
        color: #fff;         
        text-decoration: none;           
        cursor: pointer;         
        transition: all 0.2s ease-in-out;           
        display: inline-block;           
        padding: 15px 30px;         
        border-radius: 20px;         
        width: 300px;
    }

    .nvidia-products-btn {
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid #24B634;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        display: inline-block;
        padding: 15px 30px;
        border-radius: 20px;
        width: 300px;

    }

        .products-btn:hover {
            color: #000;
            background-color: #eee;             
            transform: translateY(-3px);           
        }

        .nvidia-products-btn:hover {
            color: white;
        background-color: #0A2F0E;
            transform: translateY(-3px);
        }


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding : 20px 0;
    }

        .header h1 {
            margin: 0;
        }

        .header input[type="search"] {
            margin-left: auto;
            padding: 10px;
            border: 2px solid white;
            border-radius: 50px;                 
            background-color: black;
            color: white;
            outline: none;
        }

            .header input[type="search"]::placeholder {
                color: white;
            }

        h2 {
            color: white;
        }

    .header input[type="search"]::-webkit-search-decoration,
    .header input[type="search"]::-webkit-search-cancel-button,
    .header input[type="search"]::-webkit-search-results-button,
    .header input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }

    .header input[type="search"]::-moz-search-decoration,
    .header input[type="search"]::-moz-search-cancel-button,
    .header input[type="search"]::-moz-search-results-button,
    .header input[type="search"]::-moz-search-results-decoration {
        display: none;
    }

    .card-body, .card  {
        background-color: #525050;
        color: white;
        padding: 20px 20px;
        margin-bottom: 20px;
    }


    .btn, .btn-sm, .btn-outline-secondary {
        color: white;
    }

    .list-group-item {
        background-color: #525050;
        color: white;
    }

    .dropdown-menu {
        display: none;
    }

        .dropdown-menu.show {
            display: block;
        }

    .footer {
        background-color: #2D2D2D;
        color: #fff;
        padding: 20px;
    }

        .footer h5 {
            margin-bottom: 20px;
        }

        .footer a {
            color: #fff;
            text-decoration: none;
        }

            .footer a:hover {
                color: #ccc;
            }
</style>

