@page "/"


    <div class="hero-content">
        <h1>TECHVENDO</h1>
        <p>We Chop The Prices!</p>
    </div>






<style>
    .hero-content{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/1513848341442.jpg');
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
        color: white;
    }

    .hero-content {
        text-align: center;
    }
</style>