.container {
    display: flex;
    align-items: flex-start;
}

#pageBody {
    background-color: #3E3E3E;
}


#profileName {
    margin-left: 85px;
    position: relative;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    color: white;
}

#nameUnderline {
    border: 1px solid white;
    margin-left: 85px;
    width: 60%;
    margin-top: 10px;
}

#descriptionBox {
    margin-left: 85px;
    margin-top: 10px;
    width: 60%;
    border-radius: 5px;
}

    #descriptionBox p {
        color: #CACACA;
    }

#descriptionUnderline {
    margin-top: 10em; 
    border: 1px solid white; 
    margin-left: 85px; 
    width: 60%;
}

#profilePictureContainer {
    position: absolute;
    top: 14%;
    right: 12%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #CCCCCC;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilePicture {
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
    display: block;
    margin: auto;
}

#infoTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 85px;
    color: white;
    position: absolute;
    font-weight: bold;
    top: 47%;
    margin-left: 79%;
}

#infoText {
    color: #CACACA;
    position: absolute;
    top: 50%;
    margin-left: 73%;
}

#sellingTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 85px;
    color: white;
}

#selling {
    margin-left: 85px;
}
#seeMoreButton {
    border-radius: 50px;
    background-color: #919191;
    color: #A0A0A0;
    text-align: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

#seeMoreButton p {
    color: white;
    font-weight: bold;
    margin: 0;
}

    #seeMoreButton:hover {
        background-color: #CFCFCF;
    }

#chatButton {
    position: fixed;
    border-radius: 50px;
    background-color: #1C8CB6;
    color: #A0A0A0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 74%;
    bottom: 40%;
}

    #chatButton p {
        color: white;
        font-weight: bold;
        margin: 0;
    }
    #chatButton:hover {
        background-color: #93C4D6;
    }

#reportButton {
    position: fixed;
    border-radius: 50px;
    background-color: #B32F2F;
    color: #A0A0A0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 82%;
    bottom: 40%;
}

    #reportButton p {
        color: white;
        font-weight: bold;
        margin: 0;
    }

    #reportButton:hover {
        background-color: #CB6F6F;
    }

#repTitle {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 74%;
    margin-top: -5%;
    color: white;
}

@media only screen and (min-width: 1920px) {

}

@media only screen and (max-width: 1200px) {
    #profilePictureContainer {
        position: absolute;
        top: 16%;
        right: 12%;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: #CCCCCC;
        overflow: hidden;
        display: none;
    }

    #profilePicture {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: none;
    }
}
