@page "/profileviewer/{UserId}"
@using Npgsql;


<body id="pageBody">

    <h1 id="profileName">@firstName @lastName</h1>
    <hr id="nameUnderline"/>
    <div id="descriptionBox">
        <p>@description</p>
    </div>
    <hr id="descriptionUnderline" />

        <div id="profilePictureContainer">
            <img src="/testprofilepicture.png" id="profilePicture" />
        </div>
        <h1 id="infoTitle">INFO</h1>
        <p id="infoText">Joined: @joined Location: @location</p>
  

    <h1 id="sellingTitle">SELLING</h1>
    <div id="selling"> <br />

        @foreach (var product in productList)
        {
            if (sellingCardsLimit <= 3) //Makes sure it cant show more than 4 items
            {
                sellingCardsLimit++;
                <SellingCards SellingProduct="product"></SellingCards>
                <p></p>
            }
            else
            {
                break;
            }
        }
        <br />
        <button id="seeMoreButton">
            <p>See More</p>
        </button>
    </div>

    <button id="chatButton">
        <p>CHAT</p>
    </button>

    <button id="reportButton">
        <p>REPORT</p>
    </button>

    <h1 id="repTitle">REPUTATION</h1>

</body>


@code {
    [Parameter]
    public string UserId { get; set; }

    private int sellingCardsLimit = 0;
    private string firstName = "Firstname";
    private string lastName = "Lastname";
    private string description = "UserDescription";

    private string joinedTemp = "";
    private string joined = "00-00-0000";
    private string location = "";
    private string profileid = "";

    private string connectionString = "Host=ep-purple-star-a20n8auz.eu-central-1.aws.neon.tech;Port=5432;Username=techvendo69;Password=qVyZgOJ36HtK;Database=TechVendo;SslMode=Require;";
    private NpgsqlConnection connection;

    public List<ProductClassLibrary.ProductClass> productList = new List<ProductClassLibrary.ProductClass>();

    protected override void OnInitialized()

    {

        base.OnInitialized();
        connection = new NpgsqlConnection(connectionString);

        try

        {
            connection.Open();

            string SelectSQL = $"SELECT * FROM userprofiles WHERE profileid = {UserId}";
            using (NpgsqlCommand command = new NpgsqlCommand(SelectSQL, connection))
            {
                using (NpgsqlDataReader reader = command.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        firstName = reader["firstname"].ToString();
                        lastName = reader["lastname"].ToString();
                        description = reader["description"].ToString();
                        joinedTemp = reader["joined"].ToString();
                        location = reader["location"].ToString();
                        profileid = reader["profileid"].ToString();

                    }
                }
            }
            SelectSQL = $"SELECT * FROM products WHERE seller_id = {profileid};";
            using (NpgsqlCommand command = new NpgsqlCommand(SelectSQL, connection))
            {
                using (NpgsqlDataReader reader = command.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        ProductClassLibrary.ProductClass product = new ProductClassLibrary.ProductClass
                            {
                                Price = (int)reader["price"],
                                EANNumber = reader["ean_number"].ToString(),
                                Brand = reader["brand"].ToString(),
                                Model = reader["model"].ToString(),
                                Series = reader["series"].ToString(),
                                Title = reader["model"].ToString()
                            };
                        productList.Add(product);
                    }
                }
            }
        }
        catch (Exception e)
        {
            
        }
        DateTime datetimeValue = DateTime.Parse(joinedTemp);
        joined = datetimeValue.ToString("dd-MM-yyyy");
    }

}
