@page "/aboutus"

<PageTitle>ABOUT US</PageTitle>


<body>
    <div class="wrapper">
        <header>
            <img src="/images/asus.png" class="background">
            <h1 class="title">ABOUT US</h1>
        </header>
        <section>
            In the heart of a bustling city, where the streets hummed with the energy of a thousand lives intertwining, there stood a quaint little bookstore, its weathered sign swinging gently in the breeze. Inside, the scent of old paper and ink filled the air, wrapping around visitors like a comforting blanket. Rows upon rows of books lined the shelves, each one a portal to a different world waiting to be explored. Amidst the shelves, a lone figure sat, lost in the pages of a novel. His eyes danced with the flickering light of the overhead lamps, tracing the words as they transported him to distant lands and forgotten times. The hours slipped away unnoticed as he delved deeper into the story, oblivious to the world outside. Outside, the city bustled with life, each person consumed by their own thoughts and desires. The streets echoed with the sounds of laughter and chatter, a symphony of human existence playing out beneath the watchful gaze of the towering skyscrapers. As night fell, the city transformed, casting long shadows across the pavement as the lights flickered to life, painting the streets in a kaleidoscope of colors. The bookstore too took on a new life, its windows glowing warmly against the darkness outside. Inside, the figure finally closed the book, a contented smile playing on his lips. He glanced around at the familiar shelves, each book holding a memory of adventures past. With a sigh of satisfaction, he rose from his seat, ready to face the world outside once more. And so, the city continued to pulse with life, each person weaving their own story into the fabric of its streets. And in the heart of it all, the little bookstore stood as a beacon of warmth and wonder, inviting all who passed by to step inside and lose themselves in the magic of words.
        </section>
    </div>    
</body>


<style>
    body {
        margin: 0;
        overflow-y: hidden;
    }

    .wrapper {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        perspective: 10px;

    }

    header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transform-style: preserve-3d;
        z-index: -1;
    }

    .background {
        transform: translateZ(-5px);
    }

    .background {
        position:absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .title {
        font-size: 7rem;
        color: #333;
        text-shadow: 0 0 5px black;
    }

    section {
        font-size: 1.5rem;
        padding: 1.5rem;
        background: #333;
        color: white;
    }
</style>